* {
    border: #1F2937 solid 1px;
    font-family: sans-serif;
}


nav ul li a {
    display: block;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    width: max-content;
    margin-right: 50px;
    list-style-type: none;
}


#header {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
}

#header-logo {
    margin-left: 20px;
    height: 40px;
}

#hero ,#footer {
    background-color: #1F2937;
}
